
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

.icon{
    font-size:36px;
    color:#9ec649;
}
:root{
     --main-primary-color:#e98df5;
     --main-secondary-color:#ed7fe2;
     --main-nextbtn-color:#8e5cd5;
 }
.btn{
    background-color:var(--main-secondary-color);
}
.nextbtn{
    background-color: var(--main-nextbtn-color);
}
.m-body{
     height:400px;
      overflow-y:auto;
}
.modal-header{
  background-color:var(--main-primary-color);
}
